---
export const prerender = false

import Layout from '@/layouts/Layout.astro'
import { PlayerForm } from '@/components/player/PlayerForm'
import { PlayerCount } from '@/components/player/PlayerCount'
import { PlayerList } from '@/components/player/PlayerList'
---

<Layout title="Player">
    <main class="flex flex-col items-center justify-center p-5 gap-5">
        <header class="flex flex-col p-2 gap-5 justify-center items-center">
            <h1 class="font-bold m-5">Jugadores (<PlayerCount client:load />)</h1>
            <p class="m-5">
                Administrador de jugadores en <span class="font-semibold"
                    >Cloud Game Manager</span
                >
            </p>
        </header>

        <PlayerForm client:visible />

        <PlayerList client:visible />
    </main>
</Layout>
